*{
            margin:0px;
            padding: 0px;
        }
        .div{
            margin-left: 90px;

        }
        img{
            width:80%;
            
        }
        body{
            background-color: linear-gradient(black,violet);
            display: flex;
            justify-content: center;
            min-height: 120vh;
            background-color: black;
 
        }
        .h1{
            color: beige;
            margin-left: 25%;
            margin-top: 50px;
            font-size: 60px;
        }
        p{
            color: bisque;
            font-size: 24px;
            margin: 1rem;
            margin-left: 60px;
        }
        .div{
            margin-top: 50%;
        }
        .talk{
             width:75%;
            height: 30px;
            border: none;
            border-radius: 10px;
            margin-left: 70px;
            margin-top:10px;
            color: grey;    }